<div>
  <md-content>
    <md-subheader>Class names can be used to style any HTML table:</md-subheader>
    <table class="md-data-table">
      <thead class="md-data-thead">
        <tr>
          <th>Material</th>
          <th class="md-data-column--numeric">Quantity</th>
          <th class="md-data-column--numeric">Unit price</th>
        </tr>
      </thead>
      <tbody class="md-data-tbody">
        <tr *ngFor="#item of materials; #index = index">
          <td>
            {{ item.type }}
          </td>
          <td class="md-data-column--numeric">{{ item.qty }}</td>
          <td class="md-data-column--numeric">{{ item.price }}</td>
        </tr>
      </tbody>
    </table>
  </md-content>
</div>
