<div>
  <md-content>
    <md-toolbar style="background: transparent; color: rgba(0, 0, 0, 0.83);">
      <div class="md-toolbar-tools">
        <h3>
          <span>Table With Controls</span>
        </h3>
      </div>
    </md-toolbar>
    <md-data-table [columns]="columns" [selectable]="true" [model]="materials" (rowClick)="rowClick($event)">
      <!-- Define cell templates. Should match colums 1:1 -->
      <template #material="data">{{material.type}}</template>
      <template #material="data">{{material.qty}}</template>
      <template #material="data">${{material.price}}</template>
    </md-data-table>
  </md-content>
</div>
